@charset "UTF-8";

$css4: true;
$compatibility: true;

//CSS universal variables

@import 'config/config.scss';

//Font imports and mixins/placeholders to prefix the required properties

@import 'config/fonts.scss';
@import 'config/functions.scss';

//CSS variables to make the site responsive

@import 'responsive/desktop.scss';
@import 'responsive/tablet.scss';
@import 'responsive/mobile.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    @include css4 {
        background: var(--rootColor);
    };

    body {
        position: relative;
        height: 100%;
        margin: 0 auto;
        font-size: 62.5%;
        z-index: 100;

        @include css4 {
            background: var(--bodyColor);
            width: var(--bodyWidth);
        };

        //Styles for all tags in the document 

        li {
            list-style: none;
        }
        a {
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }
        button {
            border: none;
            outline: none;
        }
        label {
            display: block;
            cursor: pointer;
        }
        input[type="text"] {
            border: none;
            outline: none;
        }

        //Header style
        
        #cabecalho {
            position: relative;
            width: 100%;
            height: 100px;
            z-index: 100;
            display: flex;
            align-items: center;

            #siteLogo {
                position: relative;
                top: 0;
                min-height: 30px;
                overflow-y: hidden;

                #siteName {
                    a {
                        font: 1.5em Calibri, sans-serif;

                        @include css4 {
                            color: var(--darkGray);
                        };
                    }
                }
            }
        }

        //The menu is at Media Queries, because of it have a lot of differences. The mobile is the same as the table

        //Body style

        #slider {
            margin-top: 20px !important;
        }
        #principalSection {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            margin-top: 20px;

            @include css4 {
                flex-flow: var(--mainSection);
            };

            #containerLeft,
            #containerLeftPost {
                width: 100%;
                display: flex;

                @include css4 {
                    min-height: var(--contentHeight);
                    flex-flow: var(--mainSectionContent);
                    align-items: var(--mainSectionContentAlign);
                    justify-content: var(--mainSectionContentAlign);
                };
            }

            //Content for home

            #containerLeft {
                min-height: 400px;
                .searchResults {
                    position: relative;
                    height: 30px;
                    width: 100%;

                    .searchQuery {
                        font: 2em Calibri, sans-serif;

                        @include css4 {
                            color: var(--darkGray);
                        };
                    }
                }
                .noContent {
                    > header > h1 {
                        font: 2em Calibri, sans-serif;

                        @include css4 {
                            color: var(--darkGray);
                        };
                    }
                }
                .contentDiv {
                    position: relative;
                    margin: 0 10px 10px 0;

                    @include css4 {
                        width: var(--mainSectionContentWidth);
                    };
                    &:before {
                        content: '\f109';
                        font: 1.5em dashicons;
                        position: absolute;
                        text-align: center;
                        line-height: 25px;
                        right: 20px;
                        z-index: 98;
                        width: 30px;
                        height: 25px;
                        
                        @include css4 {
                            background-color: var(--blue);
                            color: var(--darkGray);
                        };
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 25px;
                        right: 20px;
                        z-index: 98;
                        border-style: solid;
                        border-width: 10px 15px 10px 15px;
                        
                        @include css4 {
                            border-color: var(--blue) transparent transparent transparent;
                        };
                    }
                    .contentHeader {
                        .thumbnail {
                            position: relative;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .title {
                            min-height: 10px;
                            margin-bottom: 10px;

                            .link {
                                height: 100%;
                                width: 100%;
                                font: 1.5em Calibri, sans-serif;

                                @include css4 {
                                    color: var(--darkGray);
                                };
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .contentFooter {
                        .footerOption,
                        .post-edit-link {
                            margin-bottom: 10px;
                            font: 1.3em Calibri, sans-serif;

                            @include css4 {
                                color: var(--darkGray);
                            };
                        }
                        .post-edit-link {
                            &:before {
                                content: '\f044';
                                font: 1em FontAwesome;

                                @include css4 {
                                    color: var(--darkGray);
                                };
                            }
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .gallery,
                .video,.audio,
                .link,.aside,
                .image,.quote,
                .status,.chat {
                    &:before {
                        font: 1.5em dashicons;
                        position: absolute;
                        text-align: center;
                        line-height: 25px;
                        right: 20px;
                        z-index: 98;
                        width: 30px;
                        height: 25px;
                        
                        @include css4 {
                            background-color: var(--blue);
                            color: var(--darkGray);
                        };
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 25px;
                        right: 20px;
                        z-index: 98;
                        border-style: solid;
                        border-width: 10px 15px 10px 15px;
                        
                        @include css4 {
                            border-color: var(--blue) transparent transparent transparent;
                        };
                    }
                }
                .gallery {
                    &:before {
                        content: '\f161';
                    }
                }
                .video {
                    &:before {
                        content: '\f126';
                    }
                }
                .audio {
                    &:before {
                        content: '\f127';
                    }
                }
                > .link {
                    &:before {
                        content: '\f103';
                    }
                }
                .aside {
                    &:before {
                        content: '\f123';
                    }
                }
                .image {
                    &:before {
                        content: '\f128';
                    }
                }
                .quote {
                    &:before {
                        content: '\f122';
                    }
                }
                .status {
                    &:before {
                        content: '\f130';
                    }
                }
                .chat {
                    &:before {
                        content: '\f125';
                    }
                }
            }

            //Content for post page

            #containerLeftPost {
                .contentDiv {
                    position: relative;
                    width: 100%;

                    .title {
                        height: 40px;

                        .link {
                            height: 100%;
                            width: 100%;
                            font: 3em Calibri, sans-serif;

                            @include css4 {
                                color: var(--darkGray);
                            };
                        }
                    }
                    .thumbnail {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .contentTags {
                    min-height: 80px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    font: 2em Calibri, sans-serif;
                    
                    > a {
                        border-radius: 4px;
                        position: relative;
                        width: auto;
                        height: 100%;
                        margin: 0 5px;
                        padding: 0 10px;

                        @include css4 {
                            background: var(--gray);
                            color: var(--darkGray);
                        };

                        @include transition(all, 200ms, linear, 1ms);

                        &:hover {
                            @include css4 {
                                background: var(--darkGray);
                                color: var(--white);
                            };
                        }
                    }
                }
            }
            .sidebar {
                border-radius: 5px;
                right: 0;
                height: 100%;
                min-height: 250px;
                
                @include css4 {
                    min-width: var(--sidebarWidth);
                };
                h2 {
                    font: 2.5em CalibriItalic, sans-serif;
                    height: 40px;

                    @include css4 {
                        border-bottom: 2px solid Var(--darkGray);
                    };
                }
                .textwidget {
                    width: 100%;

                    .event {
                        display: flex;
                        flex-flow: row wrap;
                        margin: 10px 0;
                        padding-bottom: 10px;

                        @include css4 {
                            border-bottom: 1px dashed var(--darkGray);
                        };
                        &:last-child {
                            border: none;
                        }
                        h3 {
                            position: relative;
                            width: 100%;
                            font: 1.8em Calibri, sans-serif;
                            height: 30px;
                        }
                        span {
                            position: relative;
                            font: 1.5em Calibri, sans-serif;
                            height: 30px;
                            margin-right: 5px;
                            display: flex;
                            align-items: center;

                            &:before {
                                font: 1em FontAwesome;
                                margin-right: 5px;
                                position: relative;
                                

                                @include css4 {
                                    color: var(--darkGray);
                                };
                            }
                            &:nth-of-type(1) {
                                &:before {
                                    content: '\f073';
                                }
                            }
                            &:nth-of-type(2) {
                                &:before {
                                    content: '\f017';
                                }
                            }
                            &:nth-of-type(3) {
                                &:before {
                                    content: '\f124';
                                }
                            }
                        }
                    }
                }
            }
        }

        //Footer style

        #rodape {
            position: relative;
            min-height: 100px;
            padding-top: 20px;
            width: 100%;
            margin: 0 auto;
            z-index: 100;

            @include css4 {
                background: var(--bodyColor);
                border-top: 1px solid var(--darkGray);
            };
            #socialMenu {
                position: relative; 
                min-height: 50px;
                width: 100%;
                
                .menuUl {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    display: flex;

                    @include css4 {
                        flex-direction: var(--socialMenuDirection);
                        justify-content: var(--socialMenuPosition);
                    };
                    .facebook {
                        a {
                            &:hover {
                                @include css4 {
                                    background: var(--facebook);
                                };
                            }
                            &:before {
                                content: '\f09a';

                                @include css4 {
                                    color: var(--facebook);
                                };
                            }
                        }
                    }
                    .twitter {
                        a {
                            &:hover {
                                @include css4 {
                                    background: var(--twitter);
                                };
                            }
                            &:before {
                                content: '\f099';
                                
                                @include css4 {
                                    color: var(--twitter);
                                };
                            }
                        }
                    }
                    .youtube {
                        a {
                            &:hover {
                                @include css4 {
                                    background: var(--youtube);
                                };
                            }
                            &:before {
                                content: '\f16a';

                                @include css4 {
                                    color: var(--youtube);
                                };
                            }
                        }
                    }
                    .google {
                        a {
                            &:hover {
                                @include css4 {
                                    background: var(--google);
                                };
                            }
                            &:before {
                                content: '\f0d5';
                                
                                @include css4 {
                                    color: var(--google);
                                };
                            }
                        }
                    }
                    .menu-item {
                        border-radius: 5px;
                        height: 40px;
                        min-width: 40px;
                        text-decoration: none;

                        @include css4 {
                            margin: var(--socialMenuItems);
                        };

                        @include css4 {
                            background: var(--gray);
                        };
                        a {
                            border-radius: 5px;
                            position: relative;
                            font: 1.5em Calibri, sans-serif;
                            line-height: 25px;
                            margin-right: 10px;
                            padding: 0 5px;

                            @include css4 {
                                color: var(--darkGray);
                            }

                            @include transition(all, 300ms, linear, 1ms);

                            &:before {
                                position: relative;
                                top: 8px;
                                font-family: FontAwesome;
                                font-size: 2.2em;
                                margin-right: 10px;
                                
                                @include transition(all, 300ms, linear, 1ms);
                            }
                            &:hover {
                                &:before {
                                    @include css4 {
                                        color: var(--gray);
                                    }
                                }
                            }
                        }
                    }	
                }
            }
            .siteInfo {
                top: 10px;
                display: flex;

                @include css4{
                    justify-content: var(--copyPosition);
                };
                #spanInfo {
                    font: 1.3em Calibri, sans-serif;
                    
                    @include css4 {
                        color: var(--darkGray);
                    };
                    a {
                        text-decoration: none;

                        @include css4 {
                            color: var(--darkGray);
                        };
                    }
                }
            }
        }
    }
}