@font-face {
	font-family: 'FontAwesome';
	src: url('font/icons/fontAwesome.otf');
}
@font-face {
    font-family: 'Arial';
    src: url('font/arial.ttf');
}
@font-face {
    font-family: 'Calibri';
    src: url('font/calibri.ttf');
}
@font-face {
    font-family: 'CalibriItalic';
    src: url('font/calibrii.ttf');
}