@font-face {
	font-family: 'FontAwesome';
	src: url('font/icons/fontAwesome.otf');
}
@font-face {
    font-family: 'Arial';
    src: url('font/arial.ttf');
}
@font-face {
	font-family: 'Bubblegum';
	src: url('font/bubblegum-sans-regular.otf');
}
@font-face {
    font-family: 'Calibri';
    src: url('font/calibri.ttf');
}
@font-face {
    font-family: 'CalibriItatic';
    src: url('font/calibrii.ttf');
}
@font-face {
	font-family: 'Agency';
	src: url('font/agencyb.ttf');
}