//Mobile vars

$responsiveVariables: (
    --bodyWidth: 100%,
    --contentWidth: 100%,
    --contentHeight: 200px,
    --sidebarWidth: 100%,
    --mainSection: column wrap,
    --mainSectionContent: column wrap,
    --mainSectionContentAlign: center,
    --socialMenuPosition: center,
    --copyPosition: center,
    --socialMenuDirection: column,
    --socialMenuItems: 0 0 10px 0
);

//Menu is already defined at tablet file

@media only screen and (max-width: $mobile + $unity) {
    @if($css4 == true) {
        :root {
            @each $variable, $value in $responsiveVariables {
                #{$variable}: $value;
            }
        }
    }
}