//Tablet vars

$responsiveVariables: (
    --bodyWidth: 80%,
    --contentWidth: 100%,
    --contentHeight: 200px,
    --sidebarWidth: 100%,
    --mainSection: column wrap,
    --mainSectionContent: row wrap,
    --mainSectionContentAlign: center,
    --socialMenuPosition: center,
    --copyPosition: center,
    --socialMenuDirection: row,
    --socialMenuItems: 0 10px 0 0
);

@media (max-width: $tablet + $unity) {
    @include mobileMenu();
}

@media (min-width: $mobile + $unity) and (max-width: $tablet + $unity) {
    @if($css4 == true) {
        :root {
            @each $variable, $value in $responsiveVariables {
                #{$variable}: $value;
            }
        }
    }
}